html,
body,
#root {
  overflow: hidden;
  text-align: center;
  background-color: black;
  color: white;
  min-width: 100vw;
  min-height: 100vh;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.logo {
  width: 200px;
  animation: vibration 0.15s linear infinite;

}

.header {
  font-optical-sizing: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  align-items: space-between;
  width: 100%;
}

.button {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

.button .mantine-Button-inner {
  padding: 0 !important; /* Override Mantine inner padding */
  line-height: 1 !important;
}

.active-link {
  border-bottom: 2px solid white;
}

.starfield {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Prevents it from blocking clicks */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.opening-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* opening page record animation */

.record {
  width: 950px;
  animation: rollIn 2s ease-out forwards;
}

.logo-overlay {
  position: absolute;
  width: 800px; /* fixed width */
  opacity: 1;
  animation: vibration 0.15s linear infinite;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgb(248, 250, 250)) drop-shadow(0 0 10px rgb(239, 241, 241));
  will-change: transform, width;
  right: 0; /* position from right */
  top: 50%;
  transform: translateY(-50%);
}

@keyframes rollIn {
  0% {
    transform: translateX(-100vw) rotate(-720deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes vibration {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  20% {
    transform: translate(1.5px, -1.2px) rotate(-0.5deg);
  }
  30% {
    transform: translate(-1.2px, 1.3px) rotate(0.2deg);
  }
  40% {
    transform: translate(1.3px, -1.4px) rotate(-0.2deg);
  }
  50% {
    transform: translate(-1.1px, 1.1px) rotate(0.5deg);
  }
  60% {
    transform: translate(1.4px, -1.3px) rotate(-0.5deg);
  }
  70% {
    transform: translate(-1.3px, 1.2px) rotate(0.2deg);
  }
  80% {
    transform: translate(1.2px, -1.5px) rotate(-0.2deg);
  }
  90% {
    transform: translate(-1.4px, 1.4px) rotate(0.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}